<!-- Remote Projects JS -->
<script src="{{ '/assets/js/remote-projects.js' | relative_url }}"></script>

<h1>Bancolombia Open Source Projects</h1>

<div class="card-columns">
  <!-- Remote Projects -->
  {% for remote_project in page.remote_projects %} {%- for repo in
  site.github.public_repositories -%} {%- if remote_project == repo.name -%} {%-
  assign project = repo -%} {%- assign words = project.name | split: '-' -%} {%-
  capture titlecase -%} {%- for word in words -%} {{ word | capitalize | append:
  ' ' }} {%- endfor -%} {%- endcapture -%} {%- assign project_id = project.name
  -%} {%- assign project_name = titlecase | strip -%} {%- assign project_desc =
  project.description -%} {%- assign project_url = project.html_url -%} {%
  include projects/project-card.html %} {%- endif -%} {%- endfor -%} {% endfor
  %}
</div>
