<div class="bc-footer mt-auto" id="BcfooterComponent.3096213222">
  <div class="bc-container">

  </div>
  <div class="bc-container">

      <div class="footer-bottom bc-row">
          <div class="footer-bottom-left bc-col-sm-6">

              <div class="footer-bottom-left-icon"><i class="bc-icon bc-md ">isotipo-black</i>
              </div>
              <div class="bc-row"></div>
              <div class="footer-bottom-left-side bc-col-sm-10">

                  <p> Copyright © 2020 Grupo Bancolombia. </p>

              </div>
          </div>
          <div class="footer-bottom-right bc-col-sm-6">

              <div class="footer-bottom-right-text">

              </div>
          </div>
      </div>
  </div>
</div>