---
---
@import "portfolYOU";

h1 {
    color: #ffcf01;
}

main {
    padding-top: 8vh;
    padding-bottom: 5vh;
}

.about {
    text-align: justify;
}

.bc-logos {
    width: 134px;
    margin-left: 24px;
}

.item {
    text-decoration: none;
}

.link-after, .nav-link::after, .navbar-brand::after, .nav-item.active::after {
    background: #ffcf01;
}

.navbar {
    background-color: white;
}